:root {

  /**************************** BASE */
  --white: #FEFCFF;
  --light-blue: #6E9DC7;
  --dark-blue: #0E365A;
  --violet: #7C4BCB;




  /**************************** TEXT */


  /**************************** BUTTONS */
  --button-transparent-bg: rgba(255, 255, 255, 0.1);

  /**************************** BANNERS */
  --banner-violet: #8e8dff; /* about page banner, services page banner */
}
