*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* line-height: 135%; */
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.nuxt-icon svg {
  width: auto !important;
  height: auto !important;
}