*,

h1,
h2,
h3,
p {
  margin: 0;
}


body {
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.nuxt-icon svg {
  width: auto !important;
  height: auto !important;
}